<% include partials/header %>
<main class="container text-center">
  <h2>Search</h2>
  <form action="/search" method="get">
    <input type="search" name="q" >
    <button type="submit">Search</button>
  </form>
</main>
<% include partials/footer %>
